/**
 * CSS \\ ADMIN STYLES
 *
 * @link    https://github.com/adkvolks/adk-redirects
 * @package adk-redirects
 */

/* ==================================================================================================== */
/* Meta Box */
/* ==================================================================================================== */
.AdkRedirectsForm { padding: 8px 0 10px 0; } 
.AdkRedirectsForm__row { display: flex; justify-content: space-between; align-items: center; column-gap: .5rem; }
.AdkRedirectsForm__column { flex-shrink: 0; flex-grow: 0; }
.AdkRedirectsForm__grow { flex-grow: 1; }
.AdkRedirectsForm label { display: block; margin: 0 0 8px 0; font-weight: bold; }
.AdkRedirectsForm input, .AdkRedirectsForm select, .AdkRedirectsForm textarea { width: 100%; margin: 0 0 16px 0; padding: 5px 10px; }
.AdkRedirectsForm select { padding-right: 26px; }
.AdkRedirectsForm > fieldset:last-child > input { margin-bottom: 0; }


/* ==================================================================================================== */
/* Settings Pages */
/* ==================================================================================================== */
.post-type-adk-redirects .form-table td { padding: 15px 0; }
.post-type-adk-redirects .form-table th { display: none; }

/* Additional Domains */
.AdkRedirectsDomains__row{ margin-bottom: 10px; display: flex; align-items: center; }
.AdkRedirectsDomains__row label { margin-right: 10px; width: 80px; display: inline-block; }
.AdkRedirectsDomains__row input[type="text"] { flex-grow: 1; margin-right: 10px; }
.AdkRedirects-Remove-URL { width: 102px; }
